{% extends "base.html" %}

{% block main %}
    <div class="conteiner">
        <h2 class=" text-center mb-4">
            {% if object %}
            Редактировать Жанр
            {% else %}
            Создать Жанр
            {% endif %}
        </h2>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card-shadow-sm">
                    <form enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.title.label_tag }}
                            {{ form.title }}
                        </div>
                        <div class="mb-3">
                            {{ form.image.label_tag }}
                            {{ form.image }}
                        </div>

                        <div class="d-flex justify-content-between">
                            <a href="{% url 'category_list' %}" class="btn btn-secondary">
                                Отмена
                            </a>
                            <button type="submit" class="btn btn-success">
                                {% if object %}
                                Сохранение изменение
                                {% else %}
                                Создать
                                {% endif %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
